<h1>index de Flashcards</h1>

<div class="d-none">
  <%= simple_form_for [ @exercise, @flashcard ] do |f| %>
    <%= f.input :requested_position %>
    <%= f.input :translated_position %>
    <%= f.submit "Send Positions", id: "btn-submit-positions" %>
  <% end %>
</div>

<table>
  <tr class= "d-flex">
    <%# Colonne 1_Requested Word %>
    <td class="d-flex flex-column">
      <% @flashcards.sort_by(&:requested_position).each do |flashcard|  %>
        <button class="requested-buttons <%= flashcard.matching ? 'bg-green' : 'bg-white' %>" data-requested-position="<%=flashcard.requested_position%>"><%= flashcard.word.word_requested %></button>
      <%#si flashcard est matchée, il met le bg green et inversement%>
      <% end %>
    </td>
    <%# Colonne 2_Translated Word %>
    <td class="d-flex flex-column">
      <% @flashcards.sort_by(&:translated_position).each do |flashcard|  %>
        <button class="translated-buttons <%= flashcard.matching ? 'bg-green' : 'bg-white' %>" data-translated-position="<%=flashcard.translated_position%>"><%= flashcard.word.word_translated %></button>
      <% end %>
    </td>
  </tr>
</table>
