<div class="container">
    <div class="flashcards-form">
      <%= simple_form_for [ @exercise, @flashcard ] do |f| %>
        <%= f.input :requested_position %>
        <%= f.input :translated_position %>
        <%= f.submit "Send Positions", id: "btn-submit-positions" %>
      <% end %>
    </div>

    <table class= "flashcards-matching-game">
      <tr >
        <%# Colonne 1_Requested Word %>
        <td class="flashcards-column1">
          <% @flashcards.sort_by(&:requested_position).each do |flashcard|  %>
            <button class="flashcards-requested-buttons <%= flashcard.matching ? 'bg-green' : 'bg-white' %>" data-requested-position="<%=flashcard.requested_position%>"><%= flashcard.word.word_requested %></button>
          <%#si flashcard est matchée, il met le bg green et inversement%>
          <% end %>
        </td>
        <%# Colonne 2_Translated Word %>
        <td class="flashcards-column2">
          <% @flashcards.sort_by(&:translated_position).each do |flashcard|  %>
            <button class="flashcards-translated-buttons <%= flashcard.matching ? 'flashcards-bg-green' : 'flashcards-bg-white' %>" data-translated-position="<%=flashcard.translated_position%>"><%= flashcard.word.word_translated %></button>
          <% end %>
        </td>
      </tr>
    </table>
</div>


