<div class="main-container-dashboard">
  <div class="divdash d-flex justify-content-around m-5">

      <div class=" oui d-flex align-items-center">
        <h4 id="maternelle">Langue maternelle</h4>
        <%= image_tag("Dashboard_drapeau.png", class: "drapeau")  %>
      </div>
      <!-- Button "Practice" -->
        <%= link_to "Je pratique", new_exercise_path, class: "btnpractice d-flex align-items-center"%>
        <%= link_to "Ma bibliothèque", words_path, class: "btnbibli d-flex align-items-center"%>
  </div>
  <div id="app-cover">
    <div id="app">
      <form method="get" action="">
        <div id="f-element">
          <div id="inp-cover">
            <input type="text" name="query" placeholder="Écris un mot en français ..." autocomplete="off">
          </div>
        </div>
        <button type="submit" class="shadow">
          <i class="fas fa-plus"></i>
        </button>
      </form>
    </div>
    <div id="layer" title="Click the blue area to hide the form"></div>
    <div id="init"></div>
  </div>

  <div class="divdash1 border p-3 m-5">
    <div class="d-flex row">
      <%= image_tag("Dashboard_stats.png", class: "fusee")  %>
      <h2 class="stats">Statistiques</h2>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex column align-items-center">
        <%= image_tag("Dashboard_streak_gray.png", class: "flamme")  %>
        <p class="paragraphspaddingfordash">Streak:</p> <!-- + cl_image_tag -->
        <h3>3 jours d'affilée</h3>
        <%# if @user.streak > 1 %>
        <%#= "#{@user.streak(:sessions)} jours à la suite, Félicitations !" %>
        <%# else %>
        <%#= "#{@user.streak(:sessions)} jour, Courage !" %>
        <%#= "A quelle heure tu t'y mets branleur??" %>
        <%# end %>
      </div>
      <div class="d-flex">
        <p class="paragraphspaddingfordash">Mots appris:</p>
        <h3>32</h3>
        <!--   Total de mots appris-->
        <%#= @user.words.count.where(progress:"appris") %>
      </div>
      <div class="align-items-center">
        <div class="d-flex column">
          <%# words_learnt = 0 %>
        <%# @sessions.each do |session| %>
          <p class="paragraphspaddingfordash"> Nombre de mots appris aujourd'hui:</p>
          <h3>8</h3>
        </div>
        <div class="d-flex column">
        <%# if session.created_at == Date.today %>
        <%#= words_learnt += session.score %>
          <p class="paragraphspaddingfordash"> Nombre de mots appris cette semaine:</p>
          <h3>12</h3>
        <%# elsif (Date.today - 6) < session.created_at < Date.today %>
        <%#= words_learnt += session.score %>
        </div>
        <div class="d-flex column">
          <p class="paragraphspaddingfordash"> Nombre de mots appris ce mois-ci:</p>
          <h3>28</h3>
        <%# elsif (Date.today - 30) < session.created_at < Date.today %>
        <%#= words_learnt += session.score %>
        <%# end %>
        <%# end %>
        </div>
      </div>

    </div>
  </div>

  <div class="divdash m-5 d-flex justify-content-between " style="padding-bottom: 50px">
    <div class="check border">
      <div class="d-flex row">
        <%= image_tag("Dashboard_trophees.png", class: "coupe")  %>
        <h2 class="trophees">Trophées</h2>
      </div>
      <div class="">

        <div class="cards row justify-content-around">
          <div class="card-category col-5 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1606308622/Universaly/Dashboard_Trophees_Feu-sacr%C3%A9_Vide_rpmxta.png">
              <span>Feu sacré</span>
          </div>
          <div class="card-category col-5 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1606308622/Universaly/Dashboard_Trophees_Conqu%C3%A9rant_Vide_mlxock.png)">
              <span>Conquérant</span>
          </div>
          <div class="card-category col-5 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1606309816/Universaly/Dashboard_Trophees_Challenger_Vide_j61szd.png)">
              <span>Challenger</span>
           </div>
           <div class="card-category col-5 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1606309816/Universaly/Dashboard_Trophees_Erudit_Vide_d6cor1.png)">
              <span>Erudit</span>
           </div>
           <div class="card-category col-5 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1606309816/Universaly/Dashboard_Trophees_Champion_Vide_zmkev9.png)">
              <span>Champion</span>
            </div>
            <div class="card-category col-5 d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dyrkwhhio/image/upload/v1606309816/Universaly/Dashboard_Trophees_L%C3%A9gendaire_Vide_xwoewb.png)">
              <span>Légendaire</span>
           </div>
         </div>
      </div>
    </div>

    <div class="check border">
      <div class="d-flex row">
        <%= image_tag("Dashboard_categories.png", class: "bouquin")  %>
        <h2 class="categories">Mes catégories</h2>
      </div>
      <div class="d-flex row justify-content-around">
        <% @categories.each_with_index do |category, index| %>
          <%= link_to category, words_path(query2: category), id: "btn-cat#{ index + 1 }" %>
        <% end %>
       <!--  <button id="btn-cat1" type="button">SALUT</button>
        <button id="btn-cat2" type="button">Coucou</button>
        <button id="btn-cat3" type="button">bien</button>
        <button id="btn-cat4" type="button">très</button>
        <button id="btn-cat5" type="button">et</button>
        <button id="btn-cat6" type="button">toi</button> -->
       <!--  <button id="btn-cat7" type="button"></button>
        <button id="btn-cat8" type="button"></button> -->
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to "Voir plus...", words_path, id: "VoirPlus"%>
      </div>

    </div>
  </div>
</div>


