<div class = "container">
  <h1>Mots enregistrés sur Universaly</h1>
  <p><%= @words.count %> mots enregistrés</p>
  <%= link_to "Nouvel exercice", new_exercise_path, class:"btn btn-danger rounded" %>
  <%#= link_to "Retour vers dashboard", user_path(@user), class:"btn btn-danger" %>


  <div class = "container-library-search w-25 p-3">
    <%= form_tag words_path, method: :get do %>
      <%= text_field_tag :query1, params[:query1], class: "form-control", placeholder: "Rechercher un mot..."%>
      <%= text_field_tag :query2, params[:query2], class: "form-control", placeholder: "Choisissez une catégorie..."%>
      <%#= radio_button_tag :query2, params[:query2]%>
      <%#= label_tag 'Finance' %>
      <%= text_field_tag :query3, params[:query3], class: "form-control", placeholder: "Choisissez un niveau de progrès..."%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class = "container-library-results w-75 p-3">
    <table>
      <tr>
        <td>Mots en anglais</td>
        <td>Mots traduits en français</td>
        <td>Catégorie</td>
        <td>Progrès</td>
        <td>Favoris</td>
        <td>Détails</td>
        <td>Supprimer</td>
      </tr>

      <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.word_requested, word_path(word)%></td>
        <td><%= word.word_translated %></td>
        <td><%= word.category.name %></td>
        <td><%= word.progress %></td>
        <td><%= word.favorite %></td>
        <td><%#= link_to  "Supprimer", word_path(word), method: :delete, data: {confirm: "Are you sure"}  %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <%#= link_to "Retour au dashboard",  user_path(@user), class:"btn btn-secondary" %>
</div>
