<div class="main-container-results m-5 d-flex flex-column align-items-center">
  <div class="congrats d-flex justify-content-center">
    <h3>Félicications ! Quels sont les mots que vous avez retenus?</h3>
  </div>
  <!-- <div class="words border d-flex justify-content-center">
    <h3>Quels sont les mots que vous avez retenus?</h3>
  </div> -->
  <div class="new-words">
      <% @exercise.flashcards[0...@exercise.words_count].each do |flashcard| %>
        <div class=" word1 d-flex justify-content-between">
          <div>
            <p class="wordfrench"> <%= flashcard.word.word_requested %> </p>
          </div>
          <div>
            <p class="wordfrench"> <%= flashcard.word.word_translated %> </p>
          </div>
        <div class="background2">
          <div class="toggle-body">
          <div class="toggle-btn"></div>
        </div>
        </div>
      </div>
      <% end %>
  </div>
  
  <div>
  <%#= link_to "Mon dashboard", user_path(current_user), class: "button-confettis" %>
    <button type="button" class="btn-end btn-primary" data-toggle="modal" data-target="#exampleModal">J'ai fini</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag("Dashboard_Trophees_Challenger_Plein.png", class: "photofinish")  %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 id="feloche">Félicitations, tu as débloqué le grade Challenger!</h5>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <%= link_to "Nouvel exercice", new_exercise_path, class: "btnpractice d-flex align-items-center text-center"%>
        <%= link_to "Retour au Dashboard", user_path(current_user), class: "btnbibli d-flex align-items-center text-center"%>
      </div>
    </div>
  </div>
</div>







